<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

  <!--/fruit is a URL prefix-->
  <jaxrs:server id="fruitService" address="/cxf">
    <jaxrs:serviceBeans>
      <ref bean="fruitBean" />
    </jaxrs:serviceBeans>
    <!-- jackson can serialize Java to JSON -->
    <!-- it will avoid errors such as
    No message body writer has been found for class java.util.concurrent.ConcurrentHashMap, ContentType: application/json
    -->
    <jaxrs:providers>
      <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
    </jaxrs:providers>
  </jaxrs:server>


  <bean id="fruitBean" class="com.magicmonster.example.jaxsrscxf3spring4.FruitService" />
</beans>